<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	.container{
		width:1200px;
		margin: 50px auto;	
		font-size: 0px;
	}
	form{
		text-align: center;
	}
	input, select, button{
		width: 200px;
		height : 50px;
		font-size: 1.5rem;
		box-sizing: border-box;
	}
	button{
		display : inline-block;
		box-sizing: border-box;
		font-size: 1.5rem;	
		height : 50px;	
	}
</style>
</head>
<body>
	<th:block th:include="/fragments/header.html"></th:block>
	<hr>
	<div class="container">
		<form action="/update" method="post">
			<input type="text" name="id" placeholder="아이디 입력" th:value="${dto.id }" readonly><br>
			<input type="password" name="passwd" placeholder="새 암호 입력" required><br>
			<input type="text" name="name" placeholder="이름 입력" th:value="${dto.name }"><br>
			<input type="text" name="nick" placeholder="닉네임 입력" th:value="${dto.nick }"><br>
			<select name="gradeNo">
				<option value="1" th:selected="${dto.gradeNo} == 1">Bronze</option>
				<option value="2" th:selected="${dto.gradeNo} == 2">Silver</option>
				<option value="3" th:selected="${dto.gradeNo} == 3">Gold</option>
				<option value="4" th:selected="${dto.gradeNo} == 4">VIP</option>
				<option value="5" th:selected="${dto.gradeNo} == 5">VVIP</option>
				<option value="6" th:selected="${dto.gradeNo} == 6">Master</option>
			</select><br>
			<button>수정</button>
		</form>
	</div>
</body>
</html>